@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Inter Tight", sans-serif;
}

body{
    overflow-x: hidden;
}


html{
    scroll-behavior: smooth;
}

:root{
    --color-black: #222222;
    --color-white: #ffffff;
    --frist-background-color: #e9e9e9;
    --second-background-color: #f7f7f7;
    --color-hover: #2e2e2e;
    --color-active: #3d3d3d;
    --color-with-tranparent: #222222da;
    --color-paragraph: gray;
}






/* sidebar */
.tosidebar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}

.logo{
    padding-left: 20px;
}

.logo h1{
    font-family: "MuseoModerno", sans-serif;
}

.btn-mode{
    padding-right: 20px;
}

.btn-mode button{
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    color: var(--color-black);
    transition: background-color 0.15s;
    cursor: pointer;
}

.btn-mode button:hover{
    background-color: var(--color-black);
    color: white;
}

.btn-mode button:active{
    background-color: var(--color-active);
}






/* home */
#home{
    width: 100%;
    height: 100vh;
    height: clamp(50vh, 60vw, 100vh);
    background-color: var(--frist-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home h1{
    text-align: center;
    font-size: clamp(34px, 9vw, 170px);
    margin: 0px;
    color: var(--color-black);
    text-wrap: nowrap;
}

#home h2{
    text-align: center;
    font-size: clamp(18px, 3vw, 22px);
    color: var(--color-black);
    font-weight: 450;
}





/* about */
#about{
    height: auto;
    background-color: var(--second-background-color);
    padding-left: clamp(10px, 3vw, 60px);
    padding-right: clamp(10px, 3vw, 60px);
}

.text-about h1{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: clamp(34px, 9vw, 170px);
    font-weight: 620;
    margin: 0px;
    color: var(--color-black);
    text-wrap: nowrap;
}

.text-about h3{
    text-align: center;
    font-size: clamp(18px, 4vw, 22px);
    color: var(--color-black);
    font-weight: 450;
    margin: 6px;
}




/* project */
#project{
    background-color: var(--second-background-color);
    height: auto;
    padding-left: clamp(15px, 3vw, 60px);
    padding-right: clamp(15px, 3vw, 60px);
    padding-bottom: clamp(150px, 20vw, 200px);
}

.text-pro h3{
    text-align: center;
    margin-bottom: 0px;
    padding-top: 2%;
    font-weight: 350;
    font-size: 14px;
    font-size: clamp(14px, 3vw, 18px);
    color: var(--color-black);
}

.text-pro h1{
    text-align: center;
    font-size: clamp(42px, 9vw, 170px);
    color: var(--color-black);
    font-weight: 650;
    margin-top: 15px;
}

.text-pro h2{
    text-align: center;
    font-size: clamp(18px, 3vw, 22px);
    font-weight: 400;
    margin-top: 15px;
}

.web-project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: clamp(40px, 6vw, 100px);
}

.w-p{
    background-color: var(--color-black);
    border-radius: 10px;
    padding: clamp(24px, 4vw, 57px);
}

.w-p-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile img{
    width: clamp(40px, 4vw, 52px);
    height: clamp(40px, 4vw, 52px);
    border-radius: 50%;
    margin-bottom: 20px;
}

.pageview img{
    width: 278px;
    height: 209px;
    object-fit: cover;
    border-radius: 10px;
}

.w-p-two{
    padding-top: clamp(20px, 4vw, 50px);
}

.language-use p{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.name-time{
    display: flex;
    justify-content: space-between;
}

.name-pro p{
    color: white;
    font-size: clamp(26px, 4vw, 50px);
    margin: 0px;
    font-weight: 600;
}

.time-pro{
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 0px 18px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.time-pro p{
    margin: 0px;
}

.time-pro p:first-child{
    margin-top: 9px;
    margin-bottom: 8px;
}

.time-pro p:last-child{
    margin-bottom: 9px;
}

.w-p-three{
    display: flex;
    justify-content: space-between;
    padding-top: clamp(20px, 4vw, 40px);
}

.view-page p{
    color: white;
    font-size: 15px;
}

.s-code{
    color: white;
    font-size: 15px;
}


.text-adobe{
    padding-top: clamp(100px, 20vw, 200px);
}

.text-adobe h3{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: clamp(20px, 4vw, 30px);
}

.text-adobe h2{
    font-size: clamp(26px, 5vw, 50px);
    color: var(--color-black);
    margin-bottom: clamp(50px, 10vw, 90px);
}

.pro-adobe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 100px;
}

.pic-view{
    position: relative;
    height: 100%;
    width: 100%;
}

.pic-view:hover .adobe-button button{
    opacity: 1;
} 

.pic-view:hover::after{
    opacity: 1;
}

.pic-view img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.adobe-button button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: var(--color-black);
    padding: 1rem 1.8rem;
    border-radius: 7px;
    border: none;
    transition: background-color 0.15s, color 0.15s, opacity 0.3s;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.adobe-button button:hover{
    background-color: var(--color-black);
    color: white;
}

.adobe-button button:active{
    background-color: var(--color-active);
}

.deteil-mini p{
    font-size: clamp(18px, 5vw, 22px);
    margin: 10px 0px 10px 0px;
    font-weight: 500;
}

.pic-view::after{
    content: "";
    position: absolute;
    background: linear-gradient(180deg ,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.35s;
}

.web-view-all{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.web-view-all img{
    width: 30px;
}

.web-view-all h3{
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    color: var(--color-black);
    cursor: pointer;
}



/* eduction */
#education{
    height: auto;
    padding-left: clamp(15px, 3vw, 60px);
    padding-right: clamp(15px, 3vw, 60px);
    padding-bottom: clamp(50px, 5vw, 100px);
    background-color: var(--second-background-color);
}

.education-started-present h3{
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    color: var(--color-black);
    margin-bottom: clamp(20px, 4vw, 30px);
}

.education-started-present h2{
    font-size: clamp(26px, 5vw, 50px);
    color: var(--color-black);
    margin-bottom: clamp(50px, 10vw, 90px);
}

.card-education{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-edu{
    background-color: white;
    border-radius: 10px;
}

.card-edu img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name-school-year h2{
    font-size: 24px;
    color: var(--color-black);
    padding: 25px 10px 0px 20px;
}

.name-school-year h3{
    font-size: 14px;
    color: gray;
    font-weight: 500;
    padding: 0px 10px 25px 20px;
}

.program h3{
    font-size: 15px;
    color: gray;
    font-weight: 400;
    padding: 25px 10px 25px 20px;
    border-top: 1px solid rgba(232, 232, 232, 0.4);
    border-bottom: 1px solid rgba(232, 232, 232, 0.4);
}

.program h3 > strong{
    color: var(--color-black);
    font-size: 15px;
    margin-right: 10px;
    font-weight: 500;
}

.ach-gpa-other h3{
    font-size: 15px;
    color: gray;
    font-weight: 400;
    padding: 20px 10px 20px 20px;
}

.ach-gpa-other h3 > strong{
    color: var(--color-black);
    font-size: 15px;
    margin-right: 10px;
    font-weight: 500;
}

.ach-gpa-other button{
    background-color: var(--color-black);
    color: white;
    border: none;
    padding: 0.8rem 1.8rem;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.ach-gpa-other button:hover{
    background-color: var(--color-hover);
}

.ach-gpa-other button:active{
    background-color: var(--color-active);
}


/* footer */
.footer{
    height: 40vh;
    background-color: var(--second-background-color);
    padding-left: clamp(10px, 3vw, 60px);
    padding-right: clamp(10px, 3vw, 60px); 
}

.footer h3{
    font-size: clamp(16px, 17vw, 20px);
    color: var(--color-black);
    font-family: "MuseoModerno", sans-serif;
    margin: 0px;
}


@media (max-width: 480px) {
    .web-project{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .pro-adobe{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 100px;
    }
    .card-education{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .web-project{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .pro-adobe{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 100px;
    }
    .card-education{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .web-project{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .pro-adobe{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 100px;
    }  
    
    .card-education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
}



@media (min-width: 1024px) and (max-width: 1400px){
    .web-project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .pro-adobe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 100px;
    }
    .card-education{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}



@media (min-width: 1400px) and (max-width: 1700px){
    .web-project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .pro-adobe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 100px;
    }

    .card-education{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}